@yellow: #fffa19;
@black: black;

.margenes (@top: 0px, @bottom: 0px){
	margin-top: @top;
	margin-bottom: @bottom;
}

.jumbotron {
    background-color: @yellow;
    color: @black;
    .margenes(50px, 0px); }
  
  .footer {
    .margenes(10px, 0px); }
  
  .card-hotel {
    flex: 1 350px;
    .margenes(10px, 0px); }
  
  .btn-reserva {
    width: 100%;
    border-radius: 0px; }
  
  .footer-address-icon {
    padding-right: 10px; }
  
  .tabs-pane-icon {
    padding-right: 10px; }
  
  .tab-content {
    padding-top: 10px; }
  