.jumbotron {
  background-color: #fffa19;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px;
}
.footer {
  margin-top: 10px;
  margin-bottom: 0px;
}
.card-hotel {
  flex: 1 350px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-reserva {
  width: 100%;
  border-radius: 0px;
}
.footer-address-icon {
  padding-right: 10px;
}
.tabs-pane-icon {
  padding-right: 10px;
}
.tab-content {
  padding-top: 10px;
}
